node_modules/
dist/
.cloud-assembly/
studio/node_modules/
studio/dist/
*.tsbuildinfo
.idea/
src/generated/
codegen/cfn-spec.json
/categorical-semantics.aux
/categorical-semantics.log
/categorical-semantics.out
/categorical-semantics.pdf
/out/
